<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="415" border="1">
    <tr>
      <td width="34" scope="row">From</td>
      <td width="144"><input type="text" name="textfield" id="textfield" /></td>
      <td width="19">To</td>
      <td width="161"><input type="text" name="textfield2" id="textfield2" /></td>
      <td width="23"><input type="submit" name="Go" id="Go" value="Go" /></td>
    </tr>
  </table>
  <p>&nbsp;</p>
  <table width="432" border="1">
    <tr>
      <th width="32" scope="col">Sno</th>
      <th width="85" scope="col">Date</th>
      <th width="105" scope="col">Schedule Info</th>
      <th width="127" scope="col">User Info</th>
      <th width="49" scope="col">&nbsp;</th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
{#      <th width="49" scope="col"><a href="#">Edit</a></th>#}
    </tr>
  </table>
</form>
</body>
</html>
