<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="col"><a href="/change_password">Change Password</a></th>
    </tr>
    <tr>
      <th><a href="/Facilities">Facilities</a></th>

    </tr>
    <tr>
      <th><a href="/Update_status_of_booking">Update status of booking</a></th>

    </tr>
    <tr>
      <th><a href="/view_booking">View booking</a></th>
    </tr>
    <tr>
      <th><a href="/yoga_registration">yoga registration</a></th>
    </tr>
  </table>
</form>
</body>
</html>