<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/add_doctor_post" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table  border="1">
    <tr>
      <td>Name</th>
      <td>
        <input type="text" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input type="text" name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><input type="text" name="textfield3" id="textfield3" /></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><input type="radio" name="radio" id="radio" value="male" />
        Male
        <input type="radio" name="radio" id="radio2" value="female" />
        Female</td>
    </tr>
    <tr>
      <td>Department</td>
      <td><select name="select" id="select">
      </select></td>
    </tr>
      <tr>
          <td>experience</td>
          <td><input type="text" name="experience" id="experience"/></td>
      </tr>
    <tr>
      <td>Qualification</td>
      <td><input type="text" name="textfield4" id="textfield4" /></td>
    </tr>
    <tr>
      <td>Photo</td>
      <td><input type="file" name="filFieled" id="fileField" /></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" name="button" id="button" value="Save" /></td>
    </tr>
  </table>
</form>
</body>
</html>
