<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="col"><a href="/doctorchangepassword">Change Password</a></th>
    </tr>
    <tr>
      <th><a href="/View_awareness_video">View Awareness</a></th>

    </tr>
    <tr>
      <th><a href="/Add_awareness_video">Add Awareness</a></th>

    </tr>
    <tr>
      <th><a href="/Add_healthtips">Add health tips</a></th>
    </tr>
    <tr>
      <th><a href="/Dr_Viewbooking_and_confirm">doctor view booking and confirm</a></th>
    </tr>
    <tr>
      <th><a href="/View_healthtips">View health tips</a></th>
    </tr>
    <tr>
      <th><a href="/View_schedule">View shedule</a></th>
    </tr>
  </table>
</form>
</body>
</html>