<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="371" border="1">
    <tr>
      <td width="42" scope="col">From</td>
      <th width="120" scope="col">&nbsp;</th>
      <td width="21" scope="col">To</td>
      <th width="120" scope="col">&nbsp;</th>
      <th width="34" scope="col"><input type="submit" name="button" id="button" value="GO" /></th>
    </tr>
  </table>
  <p>&nbsp;</p>
  <table width="388" border="1">
    <tr>
      <th width="36" scope="col">Sno</th>
      <th width="46" scope="col">Date</th>
      <th width="125" scope="col">Schedule Info</th>
      <th width="86" scope="col">User Info</th>
      <th width="61" rowspan="2" scope="col"><input type="submit" name="button2" id="button2" value="confirm" /></th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
</html>
